In [3]:
import pandas as pd

In [ ]:
# read jsonlines into a pandas dataframe
df = pd.read_csv('dataset/yt_metadata_en_sorted_abs_basic.csv', sep='\t')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72924794 entries, 0 to 72924793
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   categories     object
 1   upload_date    int64
 2   crawl_date     int64
 3   like_count     float64
 4   dislike_count  float64
 5   view_count     float64
 6   display_id     object
 7   channel_id     object
dtypes: float64(3), int64(2), object(3)
memory usage: 4.3+ GB

In [11]:
df.head()

,categories,upload_date,crawl_date,like_count,dislike_count,view_count,display_id,channel_id
0,Entertainment,2018,2019,2630582.0,16916346.0,1.829479e+08,YbJOTdZBX1g,UCBR8-60-B28hp2BmDPdntcQ
1,People & Blogs,2017,2019,2864436.0,4506614.0,2.542660e+08,hSlb1ezRqfA,UCcgVECVN4OKV6DH1jLkqmcA
2,Education,2016,2019,11432004.0,4387950.0,3.838039e+09,XqZsoesa55w,UCcdwLMPsaU2ezNSJU1nFoBQ
3,Entertainment,2016,2019,281508.0,4369825.0,1.854554e+07,wx9Jv5uxfac,UC-lHJZR3Gqxm24_Vd_AJ5Yw
4,Music,2017,2019,35287325.0,4265883.0,6.509934e+09,kJQP7kiw5Fk,UCLp8RBhQHu9wSsq62j_Md6A

In [20]:
df['categories'].value_counts()

categories
Gaming                   13720303
Entertainment            12276397
News & Politics           8881022
Music                     8305003
People & Blogs            6910666
Sports                    4354412
Howto & Style             3968127
Education                 3795564
Science & Technology      2403004
Film & Animation          2359736
Autos & Vehicles          2256967
Comedy                    1172503
Travel & Events           1096565
Nonprofits & Activism      777449
Pets & Animals             645508
Shows                          41
Movies                          5
Name: count, dtype: int64

In [22]:
df['upload_date'].value_counts()

upload_date
2018    15275859
2019    12723124
2017    12486407
2016     9352771
2015     6808073
2014     5179935
2013     4018279
2012     2926436
2011     1874984
2010     1085424
2009      694586
2008      338040
2007      137250
2006       23294
2005         332
Name: count, dtype: int64